## games info data base columns:

### features to keep:
* first_release_date = first date game was released
* game mode = e.g. single player, multiplayer, etc
* genres
* name
* platforms
* summary = text description of game, to be captured using nlp
* themes
* involved_companies = in development
* keywords = e.g., 'world war 2', 'steampunk'; may be sparse, so unclear if useable
* multiplayer_modes
* franchise (see also franchises)
* game_engines - need to dig further, but likely things like, unity, unreal, etc
* player_perspectives
* storyline

### features to consider:
* age_rating = a code referring to one of the age rating associations, e.g., pegi, esrb
* category = majority over 226k entries have category 0, remained 38k+ has other values; 0 = main_game, 1 = dlc, 2 = expansion...
* external_games = external platforms game is available on, e.g. steam, gog, twitch, epic
* release_dates = provided in-depth information on release dates per region/platform/etc
* language_supports
* status = 0 = released, 2 = alpha, 3 = beta, 4 = early access, etc
* alternative names = might be useful to find near matches
* bundles = which bundles contain this game
* game_localization = might be significant
* collections = the collections this game belongs to (worth exploring)
* collection = the series the game belongs to (worth exploring)
* ports = of the game (worth exploring)
* franchises = other franchises this belongs to (see also franchise)
* forks = IDs of forks of this game (no idea what that means)

### features to drop:
* artworks = can't find it, but has api, so likely can access via api
* cover = cover art
* created_at = when added to igdb
* screenshots = for future development on capturing art style
* slug = unique url-name-string
* tags = auto-generated numbers that allow complex filtering on the igdb api (DROP!)
* updated_at = last time game entry was updated
* url = link to game website
* version_parent = if entry is a version of game, this column has the original parent game id(?)
* version_title = title of this version, e.g., Gold edition
* checksum = hash of the game(?!)
* websites = websites associated with game (url = igdb; websites = developer/publisher)
* follows = no. people following game, depricated
* videos = of gameplay
* hypes = no. people following before release
* dlcs = of the game, their IDs
* expansions
* remakes = IDs of remakes of this game
* expanded_games = of this game, game IDs
* remasters = ID of games that are remasters of this ID
* standalone_expansions = IDs of exactly what it says
* aggregated_rating = based on external critic scores
* aggregated_rating_count = how many external scores
* rating = average rating on igdb
* rating_count = how many ratings on igdb
* total_rating = average rating based on external and igdb rating
* total_rating_count = how many ratings in all (external and igdb)

## Library imports, settings, and global function definitions

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [2]:
# A unique game entry is defined by a combination of these parameters

unique_game = ['name', 'platform', 'release_year']

In [3]:
# confine the data set to certain years, here 2010-2020 (inclusive)

time_boundaries = {'start': 2010, 'end': 2020}

# Function that filters the dataframe for a specified range of years.
# Returns the filtered dataframe.
# Parameters:
# - df = DataFrame, the dataframe to be filtered
# - column = str, name of the column containing the filtered parameter, in this case years
# - time_limits = dict (default = time_boundaries), dict containing the start and end of the range of years to serve as filter
# - include_start = bool (default = True), whether to include the start of the range in the accept range of years
# - include_end = bool (default = False), whether to include the end of the range in the accepted range of years
# - flag = bool (default = False), whether to include rows that have been flagged for missing values

def filter_by_time_boundaries(df, column, time_limits=time_boundaries, include_start=True, include_end=True, flag=False):

    # sets up the filter based on the start of the range
    if include_start:
        start_filter = (df[column] >= time_limits['start'])
    else:
        start_filter = (df[column] > time_limits['start'])
    
    # sets up the filter based on the end of the range
    if include_end:
        end_filter = (df[column] <= time_limits['end'])
    else:
        end_filter = (df[column] < time_limits['end'])
    
    # sets up the filter based on whether to include rows flagge for missing values
    if flag:
        flagged_filter = (df[column] == flag)
        
        # return rows if they fall between start and end (inclusive or exclusive) or if rows were flagged for missing values
        return df[(start_filter & end_filter) | flagged_filter]
    
    # return only rows that fall between start and end (inclusive or exclusive), excluding flagged rows
    return df[start_filter & end_filter]

# Note: currently the project filters out games who did not have a release year (marked with a flag of -1)

In [4]:
# Function converts a variable from one data type to another if possible.
# Returns a value converted into a new datatype, or a flag value (default = -1) if unsuccessful due to ValueError.
# Parameters:
# - value = the value to be cast
# - new_type = the data type of value
# - flag = (default = -1) the value to be returned in case conversion was unsuccessful due to ValueError, e.g. casting np.nan
# as an int

def convert_types(value, new_type, flag=-1):
    try:
        return new_type(value)
    except ValueError:
        return flag

# This function require a lambda function to be passed to the map method, instead of directly mapping this function, i.e.:
# .map(lambda x: convert_types(x, <dtype>, <flag>)) instead of, e.g., .map(convert_types)
    
# Cases this function solves:
# 'user_score' (originally string) had 'tbd' 
# 'release_year' (originally float) had NaN

# NOTE: .astype(dtype, errors='ignore') does almost the same, e.g.:
# sales_df[sales_df['user_score'] == 'tbd']['user_score'].astype(float, errors='ignore')
# In this case, a conversion would take place except where an error occurs, in which case, the original value would be
# returned.

Some of columns of the IGDB data set contain lists of values. These, however, are imported as strings, e.g. '[12623, 6231, 96023]'. Therefore, these strings need to be parsed into proper lists.

In [5]:
# Function parses a string into a list of elements of a specified data type, assuming elements are separated by a comma.
# Returns a list of the parsed string or the original item to be parsed, if that item is not a string (e.g., NaN).
# Parameters:
# - item = the item to be parsed, mainly a string
# - dtype = data type (default = int), the data type for each element of the list to be returned
# - ignore_space = bool (default = True), whether to remove spaces from the variable item before parsing it

def pseudo_list_parser(item, dtype=int, ignore_space=True):

    if isinstance(item, str):
        if ignore_space:
            item = item.replace(' ', '')
        return [dtype(x) for x in item.replace('[','').replace(']', '').split(',')]
    
    return item

In [6]:
# This function parses out an entire column; since this line of code is repeated numerous times in the code, it is written
# as a single function

def column_parser(column, dtype=int, ignore_space=True):
    
    return column.map(lambda x: pseudo_list_parser(x, dtype, ignore_space))

In [7]:
# This function is used to map values (e.g., the different platform values between df_sales and df_games)
# arguments:
# search_key = the value or values to be remapped; could be a single value or a list
# value_mapping = a dictiontary used to remap the search_key to a corresponding value
# return value: the function will return the remapped value, or a list of remapped value, but only if they exist in 
# value_mapping. If search_key does not exist in value_mapping, function will return a NaN.

def map_values(search_key, value_mapping):
    
    # Handling the case in which search_key was a list
    if isinstance(search_key, list):
           
        remapped_values = []
        
        # For every item in the search_key list, the loop attempts to find it in the value_mapping dict.
        # If it cannot, it continues to the next iteration (due to the if statement).
        # If it does, it appends the non-None value to remapped_values, which is the return value of the function
        for item in search_key:
            value = value_mapping.get(item, None)
            if value:
                remapped_values.append(value)
# FUTURE DEV: switch to the following:
#         for item in search_key:
#             value = value_mapping.get(item, item)
#         remapped_values.append(value)
#         remapped_values = list(set(remapped_values))
#         this would look for in value_mapping to see if it finds a match. If it doesn't, it'll "keep" the value as is,
#         and when a merge will take place, it will not find a match in the other DF, so such rows will be dropped.


        # If no element in the list search_key appears in value_mapping, set the return value to np.nan.
        # If there are elements, make sure to remove any duplicated values.
        # Removing this will make the function return an empty list instead of a NaN, as well as duplicated values otherwise.
#         if not remapped_values:
#             remapped_values = np.nan
#         else:
#             remapped_values = list(set(remapped_values))
    
    # Handling the case in which search_key was not a list (function assumes this means it is a single value)
    else:
        
        remapped_values = value_mapping.get(search_key, np.nan)
    
    return remapped_values

# The following code accomplishes something similar, but provides less control of how the function behaves, so was discarded.
#     for item in set(l).intersection(value_mapping):
#         remapped_values.append(value_mapping[item])
# Or:
#     remapped_values = [item for item in set(l).intersection(value_mapping)]

In [8]:
# Standardization of strings

import re
from unidecode import unidecode

def standardize_string(string):

    if not isinstance(string, str):
        return ''
   
    # converts everything to unicode, addressing diacritics as well as chinese characters
    string = unidecode(string)
    
    # removes any non-alphanumeric character or non-space as well as parenthesis (and their inclused content)
    regex = r'\([^)]*\)|[^a-zA-Z0-9\s]'
    string = re.sub(regex, '', string)
    
    # standardizes spacing that there is only one space between each word
    string = re.sub(r'\s+', ' ', string)
    
    # changes to lowercase and strips whitespaces
    return string.lower().strip()

## Sales data import and preparation

In [9]:
# import the sales data csv into a pandas dataframe

sales_columns = ['index', 'name', 'platform', 'release_year', 'genre', 'publisher',
                 'sales_na', 'sales_eu', 'sales_jp', 'sales_other', 'sales_global',
                 'critic_score', 'critic_count', 'user_score', 'user_count', 'developer', 'rating']
sales_drop_columns = ['critic_score', 'critic_count', 'user_score', 'user_count']

df_sales = (pd.read_csv('video_games.csv', skiprows=1, names=sales_columns, index_col='index')
            .drop(sales_drop_columns, axis=1)
            .drop_duplicates() # There are 209 duplicated rows, which are removed here
            .dropna(subset=['name'])) # There are 2 rows that have NaN as 'name', which makes them useless

In [10]:
# transforming the release year column into an int value
df_sales['release_year'] = df_sales['release_year'].map(lambda x: convert_types(x, int))

# filtering the data by years
df_sales = filter_by_time_boundaries(df_sales, 'release_year')

In [11]:
# remember to comment out the time boundaries filter so I find the -1 year games

In [12]:
#df_sales[df_sales['release_year'] == -1]['platform'].value_counts()

## Section dealing with rows flagged with missing years

Platforms left to do: PS2, Wii, X360, DS, PS3, XB, 2600

In [13]:
#df_sales[(df_sales['release_year'] == -1) & (df_sales['platform'] == '2600')]

In [14]:
#df_sales[df_sales['name'].str.contains('Super Robot Wars OG Saga: Masou Kishin II')]['name'][9739]

In [15]:
# platform = PC

# inversion, 2012
# Homeworld Remastered Collection, 2015
# WRC: FIA World Rally Championship, 2010
# GRID, 2019
# Clockwork Empires, 2016
# Dead Island: Riptide, 2013
# Rocksmith, 2011
# Test Drive Unlimited 2, 2011
# Dead Space 3, 2013
# LEGO Harry Potter: Years 5-7, 2011 | PC, 3DS, PSP
# BioShock 2, 2010
# Tomb Raider, 2013 
# TERA, 2011
# Call of Duty: Black Ops, 2010
    
# Disgaea 3: Absence of Detention, 2011 | PSV
    
# 3DS
# Harvest Moon: The Tale of Two Towns, 2010
# Pet Zombies, 2011
# Face Racers: Photo Finish, 2011
# The Hidden, 2011
# Dream Trigger 3D, 2011
# Beyond the Labyrinth, 2012

# PSP
# Danganronpa: Trigger Happy Havoc, 2010
# Valkyria Chronicles III: Unrecorded Chronicles, 2011
# Super Robot Wars OG Saga: Masou Kishin II - Revelation of Evil God, 2012
# Fullmetal Alchemist: Brotherhood, 2010

## End of section for flagged rows

In [16]:
# these columns will undergo basic lowercasing
regular_string_columns = ['platform', 'genre', 'publisher', 'developer', 'rating']

# standardizes string columns with basic lowercasing
df_sales[regular_string_columns] = df_sales[regular_string_columns].applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [17]:
# standardizes strings in the name column, handling non-alphanumeric characters as well as removing parentheses
df_sales['name'] = df_sales['name'].map(lambda x: standardize_string(x) if isinstance(x, str) else x)

In [18]:
df_sales = df_sales.groupby(unique_game).agg('max').reset_index()
# Assuming I identify a game by its name, platform, and release year, this removes duplicate entries, but keeps the max value
# for the other columns, which can be assumed to be more updated (since sales only increase, not decrease)
# Note that for this dataset, this only affects a single game (name = madden nfl 13, platform = ps3, release_year = 2012),
# whose sales features are not duplicated and therefore not removed above when duplicated rows are removed.

## Mapping genres between games data and sales data

In [19]:
# key = name from df_platforms['id']; value = df_sales['platform']
games_to_sales_platform_dict = {
    'atari 2600': '2600',
    '37': '3ds',
    '137': '3ds', # new 3ds
    '20': 'ds', # nintendo ds
    '159': 'ds', # nintendo dsi
    '9': 'ps3',
    '7': 'ps2',
    '38': 'psp',
    '6': 'pc', # windows
    '13': 'pc', # DOS
    '5': 'wii',
    '12': 'x360',
    '4': 'n64', # nintendo 64
    '21': 'gc', # game cube
    '11': 'xb', # xbox
    '18': 'nes',
    '24': 'gba', # game boy advance
    '46': 'psv', # ps vita ; note also '165' = playstation vr, and '390' = playstation vr2 (both not included in this dict)
    '48': 'ps4',
    '49': 'xone', # xbox one
    '19': 'snes', # super NES
    '59': '2600', # atari 2600
    '41': 'wiiu',
    '32': 'sat', # sega saturn
    '33': 'gb', # game boy
    '22': 'gb', # game boy color
    '136': 'ng', # neo geo ; there are other neo geo variations in df_platforms, but there is no relevant game between 2010-2020    
    '29': 'gen', # sega genesis
    '274': 'pcfx',
    '23': 'dc', # dream cast
    '50': '3do', # 3do interactive multiplayer
    '57': 'ws', # wonderswan
    '86': 'tg16', # turbografx-16/pc engine cd
    '150': 'tg16', # turbografx-16/pc engine
    '78': 'scd', # sega cd
    '35': 'gg' # game gear
}

### Exploration of data

I used to following code to determine the correlations of the platforms between df_games and df_sales.
I do not need to run any of this.

In [20]:
#df_platforms = pd.read_csv('platforms.csv', index_col='Unnamed: 0')

In [21]:
#df_platforms['name'] = df_platforms['name'].str.lower()
#df_platforms['alternative_name'] = df_platforms['alternative_name'].str.lower()

In [22]:
# def filter_by_name(df, name):
#     filt_alt_name = df['alternative_name'].str.contains(name)
#     filt_name = df['name'].str.contains(name)
#     filt_slug = df['slug'].str.contains(name)
    
#     filtered_df = df[filt_alt_name | filt_name | filt_slug]
    
#     return filtered_df

In [23]:
#filter_by_name(df_platforms,'gb')

In [24]:
#df_sales['platform'].unique()

In [25]:
#df_sales[df_sales['platform'] == 'scd']

## games data import and preparation

In [26]:
games_drop_columns = ['artworks',
                      'cover',
                      'created_at',
                      'screenshots',
                      'slug',
                      'tags',
                      'updated_at',
                      'url',
                      'version_parent',
                      'version_title',
                      'checksum',
                      'websites',
                      'follows',
                      'videos',
                      'hypes',
                      'dlcs',
                      'expansions',
                      'remakes',
                      'expanded_games',
                      'remasters',
                      'standalone_expansions',
                      'aggregated_rating',
                      'aggregated_rating_count',
                      'rating',
                      'rating_count',
                      'total_rating',
                      'total_rating_count',
                      'forks',
                      'ports']

In [35]:
df_games = pd.DataFrame()

for i in range(0, 10):
    df_partial = pd.read_csv(f'games_data_{i}.csv', low_memory=False, index_col='Unnamed: 0')
    df_games = pd.concat([df_games, df_partial], axis=0)

In [36]:
df_games = df_games.drop(games_drop_columns, axis=1).rename(columns={'platforms': 'platform'}).drop_duplicates()

In [32]:
# df_games = (pd.read_csv('igdb_raw.csv', low_memory=False, index_col='Unnamed: 0')
#             .drop(games_drop_columns, axis=1)
#             .rename(columns={'platforms': 'platform'})
#             .drop_duplicates())

In [27]:
# convert first_release_date to a datetime data type
df_games['first_release_date'] = pd.to_datetime(df_games['first_release_date'], unit='s')

# creates a new column ('release_year') that contains only the year of release
df_games['release_year'] = df_games['first_release_date'].dt.year.map(lambda x: convert_types(x, int))

# filters data by set time boundaries
df_games = filter_by_time_boundaries(df_games, 'release_year')

In [28]:
# removes all rows that have missing values in any of the fields that define a unique game (name, platform, year)
# this can be done with the unique_game variable only after the creation of the 'release_year' column in the cell above

df_games = df_games.dropna(how='any', subset=unique_game)

In [29]:
# standardizes the name column and drops any row that returned an empty string (i.e. names with only special characters)

df_games['name'] = df_games['name'].map(lambda x: standardize_string(x))
df_games = df_games[df_games['name'] != '']

# the only other column that may need to be standardized (albeit with a different standardizer) is summary, so it can be
# vectorized. (potentially this may be done as a column transformer, but if I want to keep the data preparation contained here
# it should be here.)

In [30]:
# Converts the platform column from a single string that looks like a list to an actual list of values.
# Each element of the list are strings themselves, since the dictionary that maps these values has strings as keys

df_games['platform'] = column_parser(df_games['platform'], str)

# changes the values in the platforms column to the values used for platform in the df_sales
df_games['platform'] = df_games['platform'].map(lambda x: map_values(x, games_to_sales_platform_dict))

In [31]:
# Transform rows that have multiple platforms listed into separate rows for each platform, copying all the other information

df_games = df_games.explode('platform')

# Any row that has NaN in the platform field is dropped and any row that has empty strings or lists for any of the
# unique_game columns

df_games = df_games.dropna(subset=['platform'])

In [32]:
# converts all columns except for specific ones

columns_not_to_parse = ['id', 'name', 'summary', 'storyline', 'platform', 'release_year']

columns_to_parse = list(df_games.columns)

for column in columns_not_to_parse:
#    print(column)
    columns_to_parse.remove(column)
    
for column in columns_to_parse:
#    print(f'parsing {column}')
    df_games[column] = column_parser(df_games[column])

In [33]:
# Multiple Values Aggregator function

# A custom aggregate function for a dataframe groupby method.

# Parameters
# ----------
# group : pandas Series
#   Each column of each group of the groupby operation will be passed to this function as a pandas Series.

# Returns a list containing all the elements in the Series passed as a parameter.

def mva(group):
    
    # removes all NaN values
    group = group.dropna()
    
    # if the group is empty, then it means that there were only NaN values in it
    if len(group) == 0:
        return np.nan
    
    # if the group has one element, it is the only one that needs to be returned
    if len(group) == 1:
        return group
    
    # otherwise, there are multiple elements that need to be combined into a list
    aggregated_value = []
    
    for value in group:
        if isinstance(value, list):
            aggregated_value.extend(value)
        else:
            aggregated_value.append(value)
        
    return list(set(aggregated_value))

In [37]:
# This code how an aggregate should operate for each column of df_games

mva_columns = ['age_ratings', 'category', 'external_games', 'game_modes', 'genres', 'release_dates', 'similar_games',
              'summary', 'themes', 'language_supports', 'involved_companies', 'keywords', 'multiplayer_modes', 'status',
              'alternative_names', 'bundles', 'franchises', 'game_engines', 'player_perspectives', 'game_localizations',
              'collections', 'parent_game', 'collection', 'storyline', 'franchise']
mva_dict = {key: mva for key in mva_columns}

min_columns = ['id', 'first_release_date']
min_dict = {key: 'min' for key in min_columns}

column_aggregation_dict = {**mva_dict, **min_dict}

In [38]:
# aggregates the df_games in order to remove duplicate entries resulting from multiple entries in the dataset itself, likely
# by people opening multiple entries for the same game on igdb.

df_games_agg = df_games.groupby(unique_game).agg(column_aggregation_dict).reset_index()

## merging sales and games data

In [39]:
from collections import defaultdict

In [40]:
# function that returns a dictionary: key = release year, value = list of platforms for which games were made in that key year

def generate_year_platform_dict(df, year_column='release_year', platform_column='platform'):
    
    return_dict = defaultdict(list)
    
    for year in df[year_column].unique():
        for platform in df[df[year_column] == year][platform_column].unique():
            return_dict[year].append(platform)
    
    return return_dict

In [41]:
# all possible combination of year/platform found in the sales data

sales_comb = generate_year_platform_dict(df_sales)

In [42]:
# all possible combination of year/platform found in the games data

games_comb = generate_year_platform_dict(df_games_agg)

In [43]:
# Creates a dictionary that contains of release year(key) and list of platforms (list) that are shared between the two datasets

shared_comb = {}

for sales_year, sales_platform in sales_comb.items():
    
    # retrieves the list of platforms from df_game according to the year from df_sales; or None if there were no platforms
    # for that sales year
    games_platform = games_comb.get(sales_year, None)
    
    # add to that sales year the platforms that are shared for both datasets for that particular year
    if games_platform:
        shared_comb[sales_year] = list(set(sales_platform).intersection(games_platform))

In [44]:
from rapidfuzz import process

In [45]:
# find the closest string from available choices
# returns closest string found, its score (0 = completely diffent, 100 = identical string), and index of match in choices
# if choices is a series, return the series index

def find_closest_match(string, choices):
    match, score, index = process.extractOne(string, choices)
    return match, score, index

In [46]:
# in order to not match the same string twice, once a match is found, this function removes that match from choices

def find_match_and_remove(string, choices):
    match, score, index = find_closest_match(string, choices)
    choices = choices.drop(index)
    return match, score, index, choices

In [47]:
# this code goes over all year/platform combinations, one at a time, in the sales data and tries to find a match in the game data.
# it slowly builds up a new dataframe that contains those matches, keeping the index in df_games to merge it later on

df_sales_name_matched = pd.DataFrame()

for year, platforms in shared_comb.items():
    for platform in platforms:
#        print(f'Checking {year} + {platform}')
        filtered_sales = df_sales[(df_sales['release_year'] == year) & (df_sales['platform'] == platform)][unique_game]
        filtered_games = df_games_agg[(df_games_agg['release_year'] == year) & (df_games_agg['platform'] == platform)][unique_game]
        
        choices = filtered_games['name']
        filtered_sales['closest_match'], filtered_sales['match_score'], filtered_sales['index_in_df_games_agg'], choices = zip(*filtered_sales['name'].apply(lambda x: find_match_and_remove(x, choices)))
        
        df_sales_name_matched = pd.concat([df_sales_name_matched, filtered_sales], axis=0)

In [48]:
df_sales_name_matched

,name,platform,release_year,closest_match,match_score,index_in_df_games_agg
0,10 minute solution,wii,2010,10 minute solution,100.000000,56
5,101in1 sports party megamix,wii,2010,101in1 sports party megamix,100.000000,182
14,2010 fifa world cup south africa,wii,2010,2010 fifa world cup south africa,100.000000,397
54,active life explorer,wii,2010,active life explorer,100.000000,2059
113,alice in wonderland,wii,2010,alice in wonderland,100.000000,3006
...,...,...,...,...,...,...
5262,zombiu,wiiu,2012,zombiu,100.000000,82949
507,brothers conflict precious baby,psv,2017,baboon,57.000000,6517
3323,phantasy star online 2 episode 4 deluxe package,psv,2017,cosmic star heroine,85.500000,14861
3322,phantasy star online 2 episode 4 deluxe package,ps4,2017,2dark deluxe edition,85.500000,470
1972,imagine makeup artist,ds,2020,marios star quest,42.105263,41914

In [49]:
# match score of 90 seems to be the threshold where there are many good matches,
# but anything below that results in many misses and only a few good matches.

# then join in the columns from df_sales (after dropping the shared columns, i.e., unique_game) to the matched up rows
df_sales_name_matched = df_sales_name_matched[df_sales_name_matched['match_score'] >= 90].join(df_sales.drop(unique_game, axis=1))

In [50]:
# merges the sales data (also containing the matched indices from the games data) with the aggregated games data

final_columns_to_drop = ['index_in_df_games_agg']

df_final = (pd.merge(df_sales_name_matched,
                     df_games_agg.drop(unique_game, axis=1), left_on='index_in_df_games_agg', right_index=True)
            .drop(final_columns_to_drop, axis=1)
            .reset_index(drop=True))

In [51]:
df_final.head()

,name,platform,release_year,closest_match,match_score,genre,publisher,sales_na,sales_eu,sales_jp,sales_other,sales_global,developer,rating,age_ratings,category,external_games,game_modes,genres,release_dates,similar_games,summary,themes,language_supports,involved_companies,keywords,multiplayer_modes,status,alternative_names,bundles,franchises,game_engines,player_perspectives,game_localizations,collections,parent_game,collection,storyline,franchise,id,first_release_date
0,10 minute solution,wii,2010,10 minute solution,100.0,sports,activision,0.06,0.01,0.00,0.01,0.08,anchor bay entertainment,e,"[16704, 59888]",0,"[35912, 128008, 1922149]",NaN,"[13, 14]",[15654],"[25311, 35994, 36553, 37419, 55077, 76263, 103...","Total-body 10-minute workouts for a healthier,...",[1],NaN,[15374],"[777, 4228, 4239, 5190, 5782]",NaN,NaN,NaN,NaN,NaN,NaN,[2],NaN,NaN,NaN,NaN,NaN,NaN,6464,2010-06-29
1,101in1 sports party megamix,wii,2010,101in1 sports party megamix,100.0,sports,nordcurrent,0.02,0.00,0.00,0.00,0.03,nordcurrent,e10+,[64013],0,"[35904, 127286, 1922271]","[1, 4]",[14],[10477],"[15851, 23360, 36588, 54774, 59835, 114285, 11...",Players move the Wii Remote in games such as b...,"[1, 40]",NaN,"[11142, 11143]","[274, 4328]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[4656],NaN,4656.0,NaN,NaN,4633,2010-11-19
2,2010 fifa world cup south africa,wii,2010,2010 fifa world cup south africa,100.0,sports,electronic arts,0.23,0.15,0.01,0.04,0.42,electronic arts,e,NaN,11,[215608],"[1, 2]",[14],"[457717, 457719, 457720, 457721]","[96209, 102122, 103275, 109606, 114286, 114287...",Wii port of 2010 FIFA World Cup South Africa.,[32],"[642227, 642228]","[206119, 206120]",NaN,NaN,NaN,NaN,NaN,[1110],NaN,"[2, 3]",NaN,[122],4655.0,122.0,NaN,NaN,240361,2010-04-27
3,active life explorer,wii,2010,active life explorer,100.0,sports,namco bandai games,0.13,0.00,0.00,0.01,0.14,h.a.n.d. inc.,e,[60297],0,"[35935, 128156, 1922127]","[1, 2, 4]","[14, 31]","[59561, 59562]","[87622, 96217, 106992, 109606, 111130, 114286,...",Jump into action as a fearless adventurer sear...,NaN,[473193],[237079],"[777, 5727, 12462, 17141, 36686]",NaN,NaN,"[67820, 67821]",NaN,NaN,NaN,[2],NaN,[703],NaN,703.0,NaN,NaN,4659,2010-10-21
4,alice in wonderland,wii,2010,alice in wonderland,100.0,adventure,disney interactive studios,0.25,0.21,0.00,0.05,0.51,etranges libellules,e10+,[73456],0,"[10558, 129640, 215882, 1880902]","[1, 2, 3]","[8, 9, 31]","[10589, 10590, 10591, 137364, 137365]","[20329, 20342, 24426, 26950, 28070, 55173, 551...",Prepare to journey down the rabbit hole and in...,"[1, 27]","[101317, 101318, 101319, 101320, 101321, 10132...","[11197, 11198]","[1033, 4142, 4345, 4353, 4484, 5143, 6714]",NaN,NaN,NaN,NaN,"[26, 63, 4463]",NaN,[2],NaN,NaN,NaN,NaN,NaN,63.0,4666,2010-03-02

In [52]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 4202 non-null   object
 1   platform             4202 non-null   object
 2   release_year         4202 non-null   int64
 3   closest_match        4202 non-null   object
 4   match_score          4202 non-null   float64
 5   genre                4202 non-null   object
 6   publisher            4195 non-null   object
 7   sales_na             4202 non-null   float64
 8   sales_eu             4202 non-null   float64
 9   sales_jp             4202 non-null   float64
 10  sales_other          4202 non-null   float64
 11  sales_global         4202 non-null   float64
 12  developer            2902 non-null   object
 13  rating               2801 non-null   object
 14  age_ratings          3846 non-null   object
 15  category             4202 non-null   object
 16  external_games       4026 non-null   object
 17  game_modes           3585 non-null   object
 18  genres               3972 non-null   object
 19  release_dates        4202 non-null   object
 20  similar_games        4033 non-null   object
 21  summary              4046 non-null   object
 22  themes               3240 non-null   object
 23  language_supports    1735 non-null   object
 24  involved_companies   3882 non-null   object
 25  keywords             3481 non-null   object
 26  multiplayer_modes    1289 non-null   object
 27  status               92 non-null     object
 28  alternative_names    2776 non-null   object
 29  bundles              758 non-null    object
 30  franchises           2016 non-null   object
 31  game_engines         985 non-null    object
 32  player_perspectives  3163 non-null   object
 33  game_localizations   1788 non-null   object
 34  collections          3038 non-null   object
 35  parent_game          539 non-null    object
 36  collection           2608 non-null   object
 37  storyline            1031 non-null   object
 38  franchise            457 non-null    float64
 39  id                   4202 non-null   int64
 40  first_release_date   4202 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(2), object(31)
memory usage: 1.3+ MB

In [53]:
df_final.to_csv('data_complete.csv', index_label='index')

In [54]:
#df = pd.read_csv('data_complete.csv', index_col='Unnamed: 0')

In [98]:
n = 0
non = 0

for item in df_games_agg['summary']:
    if isinstance(item, list):
        n += 1
#         if n == 5:
#             break
    else:
        non += 1

print(n)
print(non)

220
82886

In [116]:
dfx = df_final[['name', 'platform', 'release_year', 'id', 'summary', 'storyline']]

In [117]:
dfx['flag'] = dfx['summary'].map(lambda x: 1 if isinstance(x, list) else 0)

C:\Users\gilbr\AppData\Local\Temp\ipykernel_25844\3046840571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfx['flag'] = dfx['summary'].map(lambda x: 1 if isinstance(x, list) else 0)

In [118]:
dfx[dfx['flag'] == 1]

,name,platform,release_year,id,summary,storyline,flag
516,bejeweled 3,pc,2010,1978,[Discover all-new ways to play the world’s #1 ...,NaN,1
775,call of duty black ops,ds,2010,545,[Call of Duty: Black Ops is the seventh main C...,Black Ops takes place between 1961 and 1968 du...,1
847,james bond 007 blood stone,ds,2010,1648,[James Bond 007: Blood Stone features the like...,NaN,1
888,mysims skyheroes,ds,2010,7093,[The DS port of the final game in the MySims s...,Despicable scoundrel Morcubus has got himself ...,1
920,solatorobo red the hunter,ds,2010,9597,[Set out on an adventure amid floating islands...,NaN,1
927,spongebobs boating bash,ds,2010,5189,[The handheld version of the Wii game with the...,NaN,1
1003,green lantern rise of the manhunters,wii,2011,4896,"[The Manhunters are an android race, originall...",NaN,1
1700,de blob 2,ds,2011,4796,[De Blob 2 is a platformer/puzzle game. Despit...,NaN,1
1714,green lantern rise of the manhunters,ds,2011,4896,[Green Lantern: Rise of the Manhunters is an D...,NaN,1
1722,jewel quest iv heritage,ds,2011,85215,[Hit the trail with Rupert on a journey throug...,NaN,1
1757,puss in boots,ds,2011,3676,"[The DS port of Puss In Boots, a game based on...",NaN,1
1817,green lantern rise of the manhunters,3ds,2011,4896,[Green Lantern: Rise of the Manhunters is an D...,NaN,1
1824,lego star wars iii the clone wars,3ds,2011,6844,"[The Saga continues. Build, battle and laugh y...",NaN,1
1861,skylanders spyros adventure,3ds,2011,1585,[Skylanders: Spyro's Adventure is the first vi...,NaN,1
2239,skylanders swap force,3ds,2013,5159,[Skylanders: Swap Force is a platformer video ...,NaN,1
2475,f1 2014,pc,2014,7866,[Feel the power of new turbocharged FORMULA ON...,NaN,1
2644,samurai warriors chronicles 3,3ds,2014,19964,[The third in Koei Tecmo's series of handheld ...,NaN,1
2646,skylanders trap team,3ds,2014,8509,"[In Skylanders Trap Team, Kaos continues his o...",NaN,1
2907,rise of the tomb raider,pc,2016,32198,[Experience our music-driven platform adventur...,NaN,1
3460,xenoblade chronicles,3ds,2015,9553,[Xenoblade Chronicles 3D is a port of the well...,NaN,1
3695,the amazing spiderman,wii,2012,203140,"[The Wii port of The Amazing Spider-Man., The ...",NaN,1
4134,lego batman 2 dc super heroes,3ds,2012,6836,[The handheld versions of LEGO Batman 2: DC Su...,NaN,1
4158,skylanders giants,3ds,2012,1586,[Skylanders: Giants is a 2012 video game in th...,NaN,1
4174,call of duty black ops ii,wiiu,2012,1122,"[Rooted in near-future fiction, Call of Duty: ...","In Cold War-era Nevada, a team of CDC operativ...",1

In [134]:
dfx[dfx['id'] == 4796]

,name,platform,release_year,id,summary,storyline,flag
987,de blob 2,wii,2011,4796,In de Blob 2 Comrade Black and the Inkies are ...,NaN,0
1237,de blob 2,x360,2011,4796,In de Blob 2 Comrade Black and the Inkies are ...,NaN,0
1531,de blob 2,ps3,2011,4796,In de Blob 2 Comrade Black and the Inkies are ...,NaN,0
1700,de blob 2,ds,2011,4796,[De Blob 2 is a platformer/puzzle game. Despit...,NaN,1

In [138]:
dfx[dfx['id'] == 4796].iloc[3]['summary']

['De Blob 2 is a platformer/puzzle game. Despite it having the same name as the Wii, PlayStation 3 and Xbox 360 versions, it has a completely different story and landmarks. It is set just after de Blob but before the home consoles version of de Blob 2.',
 'In de Blob 2 Comrade Black and the Inkies are back with a whole new plot to rid the world of color. Set off on an action-packed color adventure where custom paints, patterns and music bring the world to life. De Blob 2 is a creative evolution driven by your imagination.']

In [115]:
df_final[df_final['name'].str.contains('vivid')]

,name,platform,release_year,closest_match,match_score,genre,publisher,sales_na,sales_eu,sales_jp,sales_other,sales_global,developer,rating,age_ratings,category,external_games,game_modes,genres,release_dates,similar_games,summary,themes,language_supports,involved_companies,keywords,multiplayer_modes,status,alternative_names,bundles,franchises,game_engines,player_perspectives,game_localizations,collections,parent_game,collection,storyline,franchise,id,first_release_date
2351,golden time vivid memories,psv,2014,golden time vivid memories,100.0,adventure,ascii media works,0.0,0.0,0.01,0.0,0.01,NaN,NaN,[105196],0,"[56896, 116864, 1900159]",[1],"[31, 34]",[90033],"[8968, 11752, 11778, 12328, 15830, 17906, 2687...",Visual novel adventure based on the series of ...,[44],NaN,NaN,"[78, 1313, 1523, 1538, 4134, 4239, 4241, 4310,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42698,2014-04-27

In [114]:
df_final[df_final['id'] == 82358]

Empty DataFrame
Columns: [name, platform, release_year, closest_match, match_score, genre, publisher, sales_na, sales_eu, sales_jp, sales_other, sales_global, developer, rating, age_ratings, category, external_games, game_modes, genres, release_dates, similar_games, summary, themes, language_supports, involved_companies, keywords, multiplayer_modes, status, alternative_names, bundles, franchises, game_engines, player_perspectives, game_localizations, collections, parent_game, collection, storyline, franchise, id, first_release_date]
Index: []